/* Some tablets mis-report orientation, leaving white at bottom: */
body { background-color: #85c1bc;}

h1 {color:#5a9;} /* the lt green of "App" */
h3 {color:#68aa86;} /* project & apk lists: light green */
#get_project_list, #get_apk_list, li a, .ui-btn-up-c { color: #666; }
.grey {color:#aaa; font-size: 12px; text-shadow: none; }
.bleu {color:#126686; font-weight: bold; }

/* listview items: height shorter, text area wider !imporant: keep this order */
.ui-btn-inner {padding-right:10px; padding-top: .55em; padding-bottom: .55em;}
.ui-li .ui-btn-inner a.ui-link-inherit { padding: .3em 15px .3em 10px; }
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit { padding-right: 40px; }

.ui-icon-weinre {background-image: url(images/weinregrey18x18.png);}

.ui-header .ui-title {margin-right:20px;margin-left:20px;}

 .ui-footer .ui-title {
	margin-right:20px;
	margin-left:20px;
	white-space:normal;
 }

/*  JQM: .ui-content { padding: 15px; }
 *  Leave more space vertically for buttons etc */
.ui-content { padding: .4em 11px;}

.ui-collapsible-content { padding: 5px 5px 5px 6px; }

#project_list_container, #apk_list_container {
	margin: .5em 8px;
	padding-left: 0px;
	padding-right: 4px;
}
#project_list_container .ui-collapsible-content,
#apk_list_container .ui-collapsible-content { padding: 0px; }

#project_list_container .ui-collapsible-heading,
#apk_list_container .ui-collapsible-heading { font-size: 14px; line-height: 25px;}

.ui-content .ui-listview-inset { margin-bottom: 0px;}

#page-home, #page-guest { 
	background-image:url(images/appbkgrnd.png); 
	background: repeat-x repeat-y;
}

#appfooter { position:fixed; }

#project_list {margin-top:0;}
#apk_list {margin-top:0;}
#demo_project_list {margin-top:0;}

.hidden {display:none;}
.box-nice { padding: 0 0.6em; margin: 0.4em 0.6em;}
